/* 
    1. Modelo de caja (width, etc.)
    2. Posicionamiento (display, position, etc.)
    3. Tipografia (Texto)
    4. Visual
    5. Otros.
*/
  
  *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }

  html{
      font-size: 62.5%;
      font-family: "Dosis", sans-serif;
  }

  :root{
    --header: 2.2rem;
    --title: 5.4rem;
    --text: 3.5rem;
    --footer: 2rem;
    --circle: rgb(247, 54, 54);
    --current-header: #ede268;
    --bodybackground: #fef27a;
    --explosion--speed: 0.02; /*Más lenta 0.01, más rápida 0.05*/
    --camera-position-circle: 3.8;
  }


  /** -- BODY -- **/
  body{
    width: 100vw;
    max-width: 1300px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;

    overflow-x: hidden;

    background: var(--bodybackground);
  }

  ul li{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;

  }

  /** -- HEADER -- **/
  header{
    width: 100%;
    min-width: 300px;
    height: 6rem;

    position: relative;
  }

  header .header_ray-up{
    width: 36rem;
    height: 40rem;

    position: absolute;
    top: 25px;
    left: calc(50% - 18rem);
    
    z-index: -1;
    
    background-image: url(/assets/svg/ray.svg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    opacity: .5;
  }

  header .header_trace-up{
    width: 45rem;
    height: 45rem;

    display: none;
    
    position: absolute;
    top: -130px;
    right: -230px;
    
    z-index: -10;

    background-image: url(/assets/svg/ray.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  header .header_nav{
    width: 95%;
    min-width: 300px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 10;

  }

  header .header_nav .header_nav-elements{
    width: 85%;
    display: flex;
    justify-content: space-around;

    font-size: var(--header);
    font-weight: 600;
  }

  header .header_nav .header_nav-elements li{
    padding: .5rem 1.1rem .8rem;
  }

  header .header_nav .header_nav-elements li{
      text-transform:lowercase;
  }

  header .header_nav .header_nav-elements li::first-letter{
      text-transform: uppercase;
  }

  header .header_nav .header_nav-elements .header_nav-current{
    background: var(--current-header);
    border-radius: 1rem;
  }

  /** -- MAIN -- **/
  main{ 
    width: 100%;
    min-width: 300px;
  }

  .main_phrase{
    width: 72%;
    height: 100%;
    min-height: 69.9vh;
    margin: 0 auto 5rem; 
                      
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
  }

  .main_text{
    width: 100%;
    padding-top: 3rem;

    font-size: var(--text);

    text-align: center;
    font-weight: 500;
    color: #000000;
  }

  
  /** -- FOOTER -- **/
  footer{
    width: 100%;
    min-width: 300px;

    position: relative;
  }

  footer .footer_elements{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    position: absolute;
    top: 0;

    background: #000000;
  }

  footer .footer_elements .footer_social{
    margin: 0 10%;
    padding: 1.5rem 0;

    font-size: var(--footer);

  }

  footer .footer_elements .--github::after{
    content: "Github";
    color: white;
  }

  footer .footer_elements .--linkeding::after{
    content: "Linkeding";
    color: white;
  } 

  footer .footer_elements .--instagram::after{
    content: "Instagram";
    color: white;
  } 


  /** -- Media: Desktop -- **/
  @media(min-width:900px){

    :root{
        --camera-position-circle: 2.8;
    }

    header .header_ray-up{
        width: 40rem;

        display: block;
        
        top: -16px;
        left: -150px;

        opacity: 1;
    }

    header .header_trace-up{
        display: block;
    }


    /* FOOTER */

    footer{
        padding: 0 6rem;

    }

    footer .footer_elements{
        width: auto;
        height: 26rem;

        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;

        position: fixed;
        top: auto;
        bottom: 0;

        background: transparent;
    }

    footer .footer_elements .footer_social{
        width: 3.5rem;
        height: 3.5rem;
        margin: 0;
        padding: 0;

        display: inline-block;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    footer .footer_elements .footer_social span{
        width: 100%;
        height: 100%;

        display: inline-block;

    }

    footer .footer_elements .--github::after{
        content: none;
    }

    footer .footer_elements .--linkeding::after{
        content: none;
    } 

    footer .footer_elements .--instagram::after{
        content: none;
    } 

    
    footer .footer_elements .--github{
        background-image: url(/assets/social-media/github-brands.svg);
        content: 0;
    }

    footer .footer_elements .--linkeding{
        background-image: url(/assets/social-media/linkeding_black.svg);
    }

    footer .footer_elements .--instagram{
        background-image: url(/assets/social-media/ig_black.svg);
    }

    
    footer .footer_line{
        border-inline-start: 2px solid black;
        height: 9rem;
        display: block;

        position: relative;
        right: -50%;
    }


  }